<div class="container">
  <div class="top-bar">
    <h1>Lista de tareas</h1>
  </div>

  <ul class="task-list">
      <app-task-item class="task-item" *ngFor="let task of tasks" [name]="task.name"></app-task-item>
      <button (click)="addTaskDialog.showModal()" class="add-task-button">Agregar</button>
  </ul>
</div>

<dialog #addTaskDialog class="add-task-dialog">
  <div class="dialog-header">
    <h2>Agregar tarea</h2>
  </div>

  <form [formGroup]="taskForm" (ngSubmit)="submitTask()">
    <div class="dialog-content">
      <input formControlName="taskNameInput" type="text" name="" placeholder="Nombre de la tarea">
    </div>
    <div class="dialog-actions">
      <button type="button" (click)="addTaskDialog.close()">Cancelar</button>
      <button type="submit">Añadir tarea</button>
    </div>
  </form>
</dialog>